<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="3.4.1" targetFramework="net45" />
  <package id="FreshMvvm" version="0.0.5" targetFramework="net45" />
  <package id="Moq" version="4.2.1507.0118" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="Xamarin.Forms" version="1.4.3.6376" targetFramework="net45" />
</packages>